<a href="https://colab.research.google.com/github/patriciamedyna/Classifier_page/blob/main/Fastai_with_tags.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#hide
!pip install -Uqq fastbook
import fastbook
fastbook.setup_book()

In [2]:
#hide
from fastbook import *
from IPython.display import display,HTML

In [3]:
from fastai.text.all import *

In [4]:
path = '/content/gdrive/MyDrive/Colab Notebooks/Tobacco_LSTM/'
files = glob.glob(path + 'txt/*.txt')
len(files)

1290

In [5]:
# obtem a classe (numero de paginas) do arquivo
def get_target(filepath):
    fname = filepath.split('/')[-1]
    if '_' in fname:
        return 1
        
    return 0

In [6]:
def extract_content(filepath):
    data = []
    with open(filepath, 'r') as fp:
        data = fp.readlines()
            
    return data

In [7]:
texts = []
target = []
for i, fp in enumerate(files):
  target.append(get_target(fp))
  texts.append(str(extract_content(fp)))
  #print(f'{i} process.')

In [8]:
df = pd.DataFrame({'texts': texts, 'pages': target})
df.head()

,texts,pages
0,"['xxQ00_00 xxbob JUL 14 14:48 FR CALIFORNIA SPEEDURY 429 5998 TO 919176631462\n', 'xxeob xxQ01_00\n', 'xxQ01_00 xxbob july 7, 2900\n', 'xxeob xxQ01_00\n', 'xxQ01_00 xxbob Philip Morris, USA\n', '-120 Park Avenue\n', 'xxeob xxQ02_01\n', 'xxQ01_00 xxbob New York, NY 10017-5592\n', 'Dear ina,\n', 'xxeob xxQ03_03\n', 'xxQ02_00 xxbob xxbcet Thank far your time today with our several conversations over the telephone.\n', 'xxecet you regarding Marlboro Racing Experience and\n', 'writing the agreement we that we agreement that for the of the\n', 'SportService. tis my understanding are all in -\n',...",0
1,"['xxQ00_02 xxbob ®\n', 'xxeob xxQ00_01\n', 'xxQ00_01 xxbob Phase\n', 'xxeob xxQ00_03\n', 'xxQ00_00 xxbob Now smoke two packs of the cigarette coded and circle\n', 'Just did . a Number for each pair of phrases\n', 'as you before.\n', 'xxeob xxQ00_00\n', 'xxQ00_00 xxbob CIGARETTES CODED\n', 'xxeob xxQ02_03\n', 'xxQ00_00 xxbob xxbcet Too much menthol taste. | 3 | 2 |3 7] enough menthol taste,\n', 'xxecet Burns too fast, 2-13 14 15 16 Does not burn too fast,\n', '4\n', 'xxbcet Is dry tasting. | 2 [4 {5 [6 [7 } Is not dry tasting,\n', 'xxecet xxbcet Does not have a good taste. | 1 15 6 | | Has ...",1
2,"['xxQ04_02 xxbob BAILOWOLITY\n', 'xxbcet |\n', 'xxecet xxbcet |\n', 'xxecet xxeob xxQ02_02\n', 'xxQ02_02 xxbob xxbcet |\n', 'xxecet xxeob xxQ04_02\n', 'xxQ01_02 xxbob xxbcet |\n', 'xxecet xxbcet |\n', 'xxecet xxbcet |\n', 'xxecet xxbcet |\n', 'xxecet xxbcet |\n', 'xxecet xxeob xxQ04_01\n', 'xxQ04_01 xxbob xxbcet |\n', 'xxecet xxeob xxQ04_01\n', 'xxQ04_01 xxbob xxbcet |\n', 'xxecet xxeob xxQ03_01\n', 'xxQ03_01 xxbob xxbcet |\n', 'xxecet xxeob xxQ04_01\n', 'xxQ03_01 xxbob ——!\n', '—\n', 'xxeob xxQ01_01\n', 'xxQ01_01 xxbob MAN\n', 'xxeob xxQ01_01\n']",1
3,"['xxQ00_00 xxbob THE\n', 'AMERICAN\n', 'TOBACCO\n', 'COMPANY\n', 'xxeob xxQ01_02\n', 'xxQ01_02 xxbob March 30, 1989\n', 'xxeob xxQ01_02\n', 'xxQ01_00 xxbob Mr. Douglass Bomeisler\n', 'Laurence, Charles, Free & Lawson, Inc.\n', '260 Madison Avenue\n', 'New York, New York 10016\n', 'xxeob xxQ02_02\n', 'xxQ02_00 xxbob Re: AMERICAN Advertising Test Creative\n', 'Dear Doug:\n', 'xxeob xxQ02_03\n', ""xxQ02_00 xxbob This will recap the several issues we've discussed regarding an AMERICAN\n"", 'advertising test:\n', 'xxeob xxQ02_01\n', 'xxQ02_00 xxbob I) Background\n', 'xxeob xxQ03_02\n', ""xxQ02_00 ...",1
4,"['xxQ00_01 xxbob xxbcet Tse For Inc.\n', 'xxecet xxbcet 900 THIRD AVENUE\n', 'xxecet xxbcet NEW YORK, 10022\n', 'xxecet xxeob xxQ00_02\n', 'xxQ00_02 xxbob March 19, 1991\n', 'xxeob xxQ01_01\n', 'xxQ01_00 xxbob Dr. C. William Davis\n', 'Div. of Pulmonary Medicine\n', '724 Clinical Sciences Bldg. -7020\n', 'University of North Carolina\n', 'Chapel Hill, NC. 27599\n', 'xxeob xxQ01_01\n', 'xxQ01_00 xxbob Dear Dr. Davis:\n', 'xxeob xxQ02_03\n', 'xxQ01_00 xxbob Thank you for your expression of interest in our program of research support. Iam\n', 'pleased to enclose a statement describing policie...",0

In [9]:
defaults.text_proc_rules

[<function fastai.text.core.fix_html>,
 <function fastai.text.core.replace_rep>,
 <function fastai.text.core.replace_wrep>,
 <function fastai.text.core.spec_add_spaces>,
 <function fastai.text.core.rm_useless_spaces>,
 <function fastai.text.core.replace_all_caps>,
 <function fastai.text.core.replace_maj>,
 <function fastai.text.core.lowercase>]

In [10]:
dls = TextDataLoaders.from_df(df, path=path, text_col='texts', Target ='pages')
dls.show_batch(max_n=3)

/usr/local/lib/python3.7/dist-packages/numpy/core/_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)

In [11]:
learn = text_classifier_learner(dls, AWD_LSTM, drop_mult=0.5,metrics=[accuracy, Perplexity()]).to_fp16()

In [12]:
learn.fine_tune(4, 1e-2)

In [13]:
learn.fine_tune(4, 1e-2)

In [14]:
learn.show_results()

In [16]:
imdb = DataBlock(blocks=(TextBlock.from_folder(path), CategoryBlock),
                 get_items=get_text_files,
                 get_y=parent_label,
                 splitter=GrandparentSplitter(valid_name='test'))

In [20]:
learn = text_classifier_learner(dls, AWD_LSTM, metrics=[accuracy, Perplexity()], path=path, wd=0.1).to_fp16()

In [21]:
learn.fit_one_cycle(1, 1e-2)

In [22]:
learn.save('1epoch')

Path('/content/gdrive/MyDrive/Colab Notebooks/Tobacco_LSTM/models/1epoch.pth')

In [23]:
learn = learn.load('1epoch')

We can them finetune the model after unfreezing:

In [24]:
learn.unfreeze()
learn.fit_one_cycle(10, 1e-3)

In [25]:
learn.save_encoder('finetuned')

### Training a text classifier

We can gather our data for text classification almost exactly like before:

In [27]:
dls_clas = TextDataLoaders.from_folder(untar_data(URLs.IMDB), valid='test')

In [39]:
learn = text_classifier_learner(dls, AWD_LSTM, drop_mult=0.5, metrics=accuracy)

In [40]:
learn = learn.load_encoder('finetuned')

In [41]:
learn.fit_one_cycle(1, 2e-2)

In [42]:
learn.freeze_to(-2)
learn.fit_one_cycle(1, slice(1e-2/(2.6**4),1e-2))

Then we can unfreeze a bit more, and continue training:

In [43]:
learn.freeze_to(-3)
learn.fit_one_cycle(1, slice(5e-3/(2.6**4),5e-3))

In [46]:
learn.unfreeze()
learn.fit_one_cycle(3, slice(1e-3/(2.6**4),1e-3))